*{
    margin: 0;
    padding: 0;
}
div{
    background-color: cadetblue;
   justify-content: center;
   text-align: center;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
